<!-- start page title -->
<div class="row">
  <div class="col-12">
      <div class="page-title-box">
          <div class="page-title-right">
          </div>
          <h4 class="page-title">Clientes</h4>
      </div>
  </div>
</div>
<!-- end page title -->

<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <div class="row justify-content-between">
                  <div class="col-md-4">
                      <div>
                          <button [routerLink]="['/clientes-add']" routerLinkActive="router-link-active"  type="button" class="btn btn-success waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#custom-modal">
                            <i class="mdi mdi-plus-circle me-1"></i> Novo Cliente</button>
                      </div>
                  </div><!-- end col-->

                  <div class="col-md-8">
                      <form class="d-flex flex-wrap align-items-center justify-content-sm-end">
                          <label for="inputPassword2" class="visually-hidden">Pesquisar</label>
                          <div>
                              <input type="search" class="form-control" id="inputPassword2" placeholder="Pesquisar...">
                          </div>
                      </form>
                  </div>
              </div> <!-- end row -->
          </div>
      </div> <!-- end card -->
  </div><!-- end col-->
</div>
<!-- end row -->

<div class="row">
  <div class="col-lg-12">
      <div class="card">
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-striped mb-0">
                      <thead>
                      <tr>
                          <th>Nome</th>
                          <th>Contribuinte</th>
                          <th>Email</th>
                          <th>Telefone</th>
                          <th>Saldo</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <th>1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                          <td>@mdo</td>
                      </tr>
                      </tbody>
                  </table>
              </div>

          </div>

      </div>

  </div>
</div>
<!-- end row -->
