
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="page-title">Saldo da conta</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <h5>Conta</h5>
            <p>Plano: Experimental</p>
            <p>Saldo: 20 dia(s)</p>
            <p>Expira em: 20 de Novembro de 2022</p>
          </div>


          <div class="col-lg-6">
            <h5>Saldo mensal</h5>
            <p>Documentos: 1/10</p>
            <p>Utilizadores: 1/2</p>
          </div>

        </div>

      </div>

      <div class="card-footer">
        <div class="d-flex flex-wrap align-items-center justify-content-sm-end">
          <button type="button" class="btn btn-success btn-lg">Comprar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end row -->

