<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right"></div>
    </div>
  </div>
</div>
<!-- end page title -->

<div class="row">
  <div class="col-lg-9">
    <div class="card">
      <div class="card-header">
        <h4>Factura-Recibo nº FR 2022/1</h4>
        <p>Cliente final</p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <p>
              Plugin 4.0 <br />
              Luanda, Talatona, Condominio Village <br />
              Email: osvaldozamba@gmail.com <br />
              Telefone: 929411660 <br />
              Contribuinte: 000
            </p>
          </div>

          <div class="col-lg-1"></div>
          <div class="col-lg-5">
            <p>
              Exmo.(s) Sr.(s)<br />
              Cliente final <br />
              Luanda
            </p>
          </div>
        </div>

        <h4>Factura-Recibo nº FR 2022/1</h4>
        <hr />

        <div class="row">
          <div class="col-3">
            <b>Data</b>
          </div>
          <div class="col-3">
            <b>Válido até</b>
          </div>
          <div class="col-3">
            <b>Contribuinte</b>
          </div>
          <div class="col-3">
            <b>V/ Ref.</b>
          </div>

          <div class="col-3">
            <p>27 Set 2022</p>
          </div>
          <div class="col-3">
            <p>27 Set 2022</p>
          </div>
          <div class="col-3">
            <p>Consumidor final</p>
          </div>
          <div class="col-3">
            <p>1</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table table-striped mb-0">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Descrição</th>
                    <th>Preço unitário</th>
                    <th>Qtd</th>
                    <th>Imposto/IVA</th>
                    <th>Desc.%</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>PAGREF</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>1</td>
                    <td>14%</td>
                    <td>0.00%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-lg-6">
            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>Taxa/IVA</th>
                    <th>Incidência</th>
                    <th>Valor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Taxa14 (14.00%)</th>
                    <td>20.000 Kz</td>
                    <td>2800 Kz</td>
                  </tr>
                  <tr>
                    <th>Isento (0%)</th>
                    <td>20.000 Kz</td>
                    <td>0 Kz</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-lg-1"></div>
          <div class="col-lg-5">
            <div class="table-responsive">
              <table class="table table-borderless mb-0">
                <thead>
                  <tr>
                    <th>Sumário</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Soma</td>
                    <td>0 Kz</td>
                  </tr>
                  <tr>
                    <td>Desconto</td>
                    <td>0 Kz</td>
                  </tr>
                  <tr>
                    <td>Retenção</td>
                    <td>0 Kz</td>
                  </tr>
                  <tr>
                    <td>S/Imposto</td>
                    <td>0 Kz</td>
                  </tr>
                  <tr>
                    <td>Imposto</td>
                    <td>0 Kz</td>
                  </tr>

                  <tr>
                    <th>Total</th>
                    <th>0 Kz</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12"><b>Observações</b></div>
          <div class="col-12">Pagamento pós pago mensalmente</div>
          <div class="col-12"><b>Regime de IVA</b></div>
          <div class="col-12">Regime simplificado</div>
        </div>

        <hr />
        <p class="text-center">
          Processado por programa validado n.º 1/AGT/2022 | Plugin 4.0
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="button-list pe-xl-4 d-grid">
      <button
        type="button"
        class="btn btn-lg btn-primary waves-effect waves-light"
      >
        Baixar PDF
      </button>

      <button
        type="button"
        class="btn btn-lg btn-light waves-effect waves-light"
      >
        Imprimir
      </button>
    </div>
  </div>
</div>
<!-- end row -->
