<div class="account-pages mt-2">
  <div class="container">

      <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-4">
              <div class="text-center">
                  <a href="index.html">
                      <img src="assets/images/logo-dark.png" alt="" height="22" class="mx-auto">
                  </a>
                  <p class="text-muted mt-2 mb-4">Facturação é com Plugin 4.0</p>

              </div>
              <div class="card">
                  <div class="card-body px-4 py-2">

                      <div *ngIf="loading" class="d-flex justify-content-center">
                        <div style="width: 5rem; height: 5rem;" class="spinner-border" role="status">
                        </div>
                      </div>

                      <form action="#" *ngIf="!loading" name="loginForm" [formGroup]="loginForm">
                          <div class="mb-3">
                              <label for="emailaddress" class="form-label">Email</label>
                              <input formControlName="email" class="form-control" type="email" id="emailaddress" required="" placeholder="Enter your email">
                          </div>

                          <div class="mb-3">
                              <label for="password" class="form-label">Senha</label>
                              <input formControlName="password" class="form-control" type="password" required="" id="password" placeholder="Enter your password">
                          </div>

                          <div class="mb-3">
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="checkbox-signin" checked>
                                  <label class="form-check-label" for="checkbox-signin">Lembrar-me</label>
                              </div>
                          </div>

                          <div class="mb-3 d-grid text-center">
                              <button (click)="onSubmit()" class="btn btn-primary" type="submit"> Entrar </button>
                          </div>

                          <div class="col-12 text-center">
                            <p> <a href="pages-recoverpw.html" class="text-muted ms-1"><i class="fa fa-lock me-1"></i>Esqueceu a senha?</a></p>
                            <p class="text-muted">Não tens uma conta? <a href="pages-register.html" class="text-dark ms-1"><b>Registro</b></a></p>
                        </div> <!-- end col -->
                      </form>

                  </div> <!-- end card-body -->
              </div>
              <!-- end card -->

          </div> <!-- end col -->
      </div>
      <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->
