<router-outlet *ngIf="!online"></router-outlet>

        <!-- Begin page -->
        <div id="wrapper" *ngIf="online">

          <!-- Topbar Start -->
          <div class="navbar-custom" *ngIf="online">
              <div class="container-fluid">
                   <ul class="list-unstyled topnav-menu float-end mb-0">

                      <li class="dropdown notification-list topbar-dropdown">
                          <a class="nav-link dropdown-toggle nav-user me-0 waves-effect waves-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                              <img src="assets/images/users/user-1.jpg" alt="user-image" class="rounded-circle">
                              <span class="pro-user-name ms-1">
                                  Admin <i class="mdi mdi-chevron-down"></i>
                              </span>
                          </a>
                          <div class="dropdown-menu dropdown-menu-end profile-dropdown ">
                              <!-- item-->
                              <a href="contacts-profile.html" class="dropdown-item notify-item">
                                  <i class="fe-user"></i>
                                  <span>Conta</span>
                              </a>

                              <!-- item-->
                              <a href="auth-lock-screen.html" class="dropdown-item notify-item">
                                  <i class="fe-lock"></i>
                                  <span>Configurações</span>
                              </a>

                              <div class="dropdown-divider"></div>

                              <!-- item-->
                              <a (click)="sair()" class="dropdown-item notify-item">
                                  <i class="fe-log-out"></i>
                                  <span>Sair</span>
                              </a>

                          </div>
                      </li>

                  </ul>

                  <!-- LOGO -->
                  <div class="logo-box">
                      <a href="index.html" class="logo logo-light text-center">
                          <span class="logo-sm">
                              <img src="assets/images/logo-sm.png" alt="" height="22">
                          </span>
                          <span class="logo-lg">
                              <img src="assets/images/logo-light.png" alt="" height="16">
                          </span>
                      </a>
                      <a href="index.html" class="logo logo-dark text-center">
                          <span class="logo-sm">
                              <img src="assets/images/logo-sm.png" alt="" height="22">
                          </span>
                          <span class="logo-lg">
                              <img src="assets/images/logo-dark.png" alt="" height="16">
                          </span>
                      </a>
                  </div>

                  <ul class="list-unstyled topnav-menu topnav-menu-left mb-0">

                      <li>
                          <!-- Mobile menu toggle (Horizontal Layout)-->
                          <a class="navbar-toggle nav-link" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                              <div class="lines">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </div>
                          </a>
                          <!-- End mobile menu toggle-->
                      </li>

                  </ul>

                  <div class="clearfix"></div>

              </div>

          </div>
          <!-- end Topbar -->

          <div class="topnav" *ngIf="online">
              <div class="container-fluid">
                  <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                      <div class="collapse navbar-collapse" id="topnav-menu-content">

                          <ul class="navbar-nav">
                              <li class="nav-item dropdown">
                                  <a class="nav-link arrow-none" [routerLink]="['/geral']" routerLinkActive="router-link-active"  id="topnav-geral" role="button"
                                      aria-haspopup="true" aria-expanded="false">
                                      <i class="mdi mdi-view-dashboard me-1"></i> Visão Geral
                                  </a>

                              </li>

                              <li class="nav-item dropdown">
                                <a class="nav-link arrow-none" [routerLink]="['/facturas']" routerLinkActive="router-link-active"  id="topnav-facturas" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-view-dashboard me-1"></i> Facturas
                                </a>

                            </li>

                            <li class="nav-item dropdown">
                              <a class="nav-link arrow-none" [routerLink]="['/proformas']" routerLinkActive="router-link-active"  id="topnav-dashboard" role="button"
                                  aria-haspopup="true" aria-expanded="false">
                                  <i class="mdi mdi-view-dashboard me-1"></i> Proformas
                              </a>

                          </li>

                          <li class="nav-item dropdown">
                            <a class="nav-link arrow-none" [routerLink]="['/clientes']" routerLinkActive="router-link-active"  id="topnav-dashboard" role="button"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-view-dashboard me-1"></i> Clientes
                            </a>

                        </li>

                        <li class="nav-item dropdown">
                          <a class="nav-link arrow-none" [routerLink]="['/itens']" routerLinkActive="router-link-active"  id="topnav-dashboard" role="button"
                              aria-haspopup="true" aria-expanded="false">
                              <i class="mdi mdi-view-dashboard me-1"></i> Itens
                          </a>

                      </li>

                      <li class="nav-item dropdown">
                        <a class="nav-link arrow-none" [routerLink]="['/relatorios']" routerLinkActive="router-link-active"  id="topnav-dashboard" role="button"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-view-dashboard me-1"></i> Relatórios
                        </a>

                    </li>
                          </ul> <!-- end navbar-->
                      </div> <!-- end .collapsed-->
                  </nav>
              </div> <!-- end container-fluid -->
          </div> <!-- end topnav-->

          <!-- ============================================================== -->
          <!-- Start Page Content here -->
          <!-- ============================================================== -->

          <div class="content-page">
              <div class="content">

                  <!-- Start Content-->
                  <div class="container-fluid">
                    <router-outlet></router-outlet>

                  </div> <!-- container -->

              </div> <!-- content -->

              <!-- Footer Start -->
              <footer class="footer">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-md-6">
                              <script>document.write(new Date().getFullYear())</script> &copy; Todos os direitos reservados <a href="www.plugin40.ao">Plugin 4.0</a>
                          </div>
                          <div class="col-md-6">
                              <div class="text-md-end footer-links d-none d-sm-block">
                                  <a href="javascript:void(0);">Sobre nós</a>
                                  <a href="javascript:void(0);">Ajuda</a>
                                  <a href="javascript:void(0);">Contacte-nos</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </footer>
              <!-- end Footer -->

          </div>

          <!-- ============================================================== -->
          <!-- End Page content -->
          <!-- ============================================================== -->


      </div>
      <!-- END wrapper -->

      <!-- Right bar overlay-->
      <div class="rightbar-overlay" *ngIf="online"></div>
