
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="page-title">Gerir Utlizadores</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped mb-0">
              <thead>
              <tr>
                  <th>Email</th>
                  <th>Perfil</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <th>osvaldozamba@gmail.com</th>
                  <td>Administrador</td>
                  <td><a href="">Editar</a> | <a href="">Apagar</a></td>
              </tr>
              </tbody>
          </table>
      </div>

      </div>

      <div class="card-footer">
        <div class="d-flex flex-wrap align-items-center justify-content-sm-end">
          <button type="button" class="btn btn-success btn-lg">Comprar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end row -->
